# Игнорируем файлы конфигурации
.env

# Игнорируем собранные бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорируем файлы данных
data/
logs/

# Игнорируем тестовое покрытие
*.out

# Игнорируем временные файлы IDE
.idea/
.vscode/
*.swp
*.swo
